@model MovieGallery.Models.Movie

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    Model.MovieTitle = "Big Hero 6";
}

<h1>
    @Model.MovieTitle - <small>@Model.YearsRelease</small>
</h1>
<h5>Storyline : </h5>
@Html.Raw(Model.StoryLineHtml)

@if (Model.Genres.Length > 0)
{
    <h5>Genre : </h5>
    <ul>
        @foreach (var genre in Model.Genres)
        {
            <li>@genre.Name</li>
        }
    </ul>
}
