@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        <h1>@ViewBag.MovieTitle - <small>@ViewBag.YearsRelease</small></h1>
        <h5>Storyline : </h5>
        @Html.Raw(ViewBag.StoryLine)
        
        @if (ViewBag.Genres.Length > 0)
        {
            <h5>Genre : </h5>
            <ul>
                @foreach (var genre in ViewBag.Genres)
                {
                    <li>@genre</li>
                }
            </ul>
        }
    </div>
</body>
</html>
